{
  "presets": ["react-native", "babel-preset-flow"],
  "plugins": [
    [
      "transform-define",
      {
        "__dirname": "./"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "react-native-vector-icons": "@expo/vector-icons",
          "path": "path-browserify",
          "@micimize/material-ui": "./packages/material-ui/src",
          "@material-ui/core": "./packages/material-ui/src",
          "@material-ui/docs": "./packages/material-ui-docs/src",
          "@material-ui/icons": "./packages/material-ui-icons/src",
          "@material-ui/lab": "./packages/material-ui-lab/src",
          "docs": "./docs",
          "/static": "./static",
          "modules": "./modules",
          "pages": "./pages"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-exponentiation-operator",
    "transform-export-extensions"
  ]
}
